@if (recipe()) {
  <div class="min-h-screen p-4">
    <header class="p-4">
      <button class="text-base-content" routerLink="/recipes">
        &larr; Back to Recipes
      </button>
    </header>

    <main class="flex flex-row gap-4">
      @defer (on viewport; prefetch on immediate) {
        @if (recipe()?.imageUrl) {
          <div class="w-3/12 h-3/12 relative">
            <img
              [ngSrc]="recipe()?.imageUrl!"
              [alt]="recipe()?.imageAlt"
              height="400"
              width="400"
              ngSrcset="100w, 200w, 300w, 400w"
              sizes="(max-width: 600px) 200px, 400px"
              priority
              class="rounded-md shadow-md"
            />
          </div>
        }
      } @placeholder {
        <div class="skeleton w-3/12 h-3/12"></div>
      }
      <div class="flex-1">
        <h1 class="text-2xl font-bold">{{ recipe()?.name }}</h1>
        <p class="text-sm">
          {{ recipe()?.description }}
        </p>

        <section class="mt-6">
          <h2 class="text-xl font-bold">Ingredients</h2>
          <ul class="list-disc list-inside">
            <li *ngFor="let ingredient of recipe()?.ingredients">
              {{ ingredient.quantity }} - {{ ingredient.name }}
            </li>
          </ul>
        </section>

        <section class="mt-6">
          <h2 class="text-xl font-bold">Instructions</h2>
          <ol class="list-decimal list-inside">
            <li *ngFor="let step of recipe()?.steps">{{ step }}</li>
          </ol>
        </section>
      </div>
    </main>
  </div>
}
